In [38]:
import json 
from urllib.request import urlopen, quote
import requests,csv
import pandas as pd
import googlemaps

In [43]:
data=pd.read_csv('house_info_cleanedall.csv')
data.head()

,Address,Price,livingArea,bedrooms,bathroom
0,['5642 Windwood Rd'],['950'],"['627', '627', '\\""627 sqft\\""', '1254', 'null...","['3', '3', '3', '3', '2', '2', '2', '2', '2', ...","['2.5', '2.5', '3', '3', '3', '3', '2.5', '2.5..."
1,['8229 Queens Dr'],['1475'],"['1939', '1939', '\\""1', '1318', '1352', '1488...","['3', '3', '3', '3', '3', '3', '4', '3', '3', ...","['1.5', '1.5', '2', '2', '2', '2', '1.5', '1',..."
2,['318 Cheryl Ct'],['1245'],"['1352', '1352', '\\""1', '1488', '1318', '1352...","['3', '3', '3', '3', '3', '3', '3', '3', '3', ...","['2', '2', '2', '2', '2', '2', '2.5', '2', '2'..."
3,['2516 Fairview Ln'],['1499'],"['2340', '2340', '\\""2', '3760', '2950', '2236...","['4', '4', '4', '4', '4', '4', '4', '4', '3', ...","['2.5', '2.5', '3', '2', '3', '3', '3', '2.5',..."
4,['6548 Laurel Ln'],['1050'],"['1670', '1670', '\\""1', '1372', '1734', '1682...","['3', '3', '3', '3', '3', '3', '3', '4', '4', ...","['2', '2', '2', '2', '2', '2', '2', '2', '2.5'..."

In [44]:
data['Address'] = [address.strip('[]')[:-1][1:]+', Atlanta, GA' for address in data['Address']]
data.head()

,Address,Price,livingArea,bedrooms,bathroom
0,"5642 Windwood Rd, Atlanta, GA",['950'],"['627', '627', '\\""627 sqft\\""', '1254', 'null...","['3', '3', '3', '3', '2', '2', '2', '2', '2', ...","['2.5', '2.5', '3', '3', '3', '3', '2.5', '2.5..."
1,"8229 Queens Dr, Atlanta, GA",['1475'],"['1939', '1939', '\\""1', '1318', '1352', '1488...","['3', '3', '3', '3', '3', '3', '4', '3', '3', ...","['1.5', '1.5', '2', '2', '2', '2', '1.5', '1',..."
2,"318 Cheryl Ct, Atlanta, GA",['1245'],"['1352', '1352', '\\""1', '1488', '1318', '1352...","['3', '3', '3', '3', '3', '3', '3', '3', '3', ...","['2', '2', '2', '2', '2', '2', '2.5', '2', '2'..."
3,"2516 Fairview Ln, Atlanta, GA",['1499'],"['2340', '2340', '\\""2', '3760', '2950', '2236...","['4', '4', '4', '4', '4', '4', '4', '4', '3', ...","['2.5', '2.5', '3', '2', '3', '3', '3', '2.5',..."
4,"6548 Laurel Ln, Atlanta, GA",['1050'],"['1670', '1670', '\\""1', '1372', '1734', '1682...","['3', '3', '3', '3', '3', '3', '3', '4', '4', ...","['2', '2', '2', '2', '2', '2', '2', '2', '2.5'..."

In [48]:
gm=googlemaps.Client(key=api_key)
geocode_result=gm.geocode('8229 Queens Dr, Atlanta, GA')[0]

geocode_result['address_components']

# for i in geocode_result['address_components']:
#     if 'County' in i['long_name']:
#         county = i['long_name']
#         break
# geocode_result['address_components']

[{'long_name': '8229', 'short_name': '8229', 'types': ['street_number']},
 {'long_name': 'Queens Drive', 'short_name': 'Queens Dr', 'types': ['route']},
 {'long_name': 'Jonesboro',
  'short_name': 'Jonesboro',
  'types': ['locality', 'political']},
 {'long_name': 'Clayton County',
  'short_name': 'Clayton County',
  'types': ['administrative_area_level_2', 'political']},
 {'long_name': 'Georgia',
  'short_name': 'GA',
  'types': ['administrative_area_level_1', 'political']},
 {'long_name': 'United States',
  'short_name': 'US',
  'types': ['country', 'political']},
 {'long_name': '30238', 'short_name': '30238', 'types': ['postal_code']},
 {'long_name': '2946', 'short_name': '2946', 'types': ['postal_code_suffix']}]

In [49]:
api_key="your google map api"
def get_geocode(address):
    gm=googlemaps.Client(key=api_key)
    try:
        geocode_result=gm.geocode(address)[0]
        county=''
        lat=''
        lng=''
        for i in geocode_result['address_components']:
            if 'County' in i['long_name']:
                county = i['long_name']
                break
        lat=geocode_result['geometry']['location']['lat']
        lng=geocode_result['geometry']['location']['lng']
    except: print(address +" Error")
    return lat,lng, county

In [51]:
address_geo_info={}
address_set = list(set(data['Address']))
count=0
for address in address_set:
    count+= 1
    if address == '2112 November Glen Dr NW, Atlanta, GA':
        address='2112 November Glen Dr NW'
    lat,lng, county = get_geocode(address)
    if address=='2112 November Glen Dr NW':
        address = '2112 November Glen Dr NW, Atlanta, GA'
    address_geo_info[address]=(lat, lng, county)
    if count%100 == 0:
        print('count: ', count)

count:  100
count:  200
count:  300
count:  400
count:  500
count:  600
count:  700
count:  800
count:  900
count:  1000
count:  1100
count:  1200
count:  1300
count:  1400
count:  1500
count:  1600

In [52]:
lat=[]
lng=[]
countys=[]
for add in data['Address']:
    lat.append(address_geo_info[add][0])
    lng.append(address_geo_info[add][1])
    countys.append(address_geo_info[add][2])
data['latitute']=lat
data['longitute']=lng
data['county']=countys

In [53]:
data.to_csv('output2.csv', header=None, index=False)